@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.underlined-text {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.underlined-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #000; /* Adjust the color of the underline */
  display: block;
}
.underlined-berita {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}
.underlined-berita::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #ffffff; /* Adjust the color of the underline */
  display: block;
}
.vertical-line {
  position: absolute;
  border-left: 1px solid black; /* You can customize the color and style */
  height: 70%;
  margin: 0 10px; /* Adjust the margin as needed */
}
.potensi-container {
  min-height: 150px; /* Set the minimum height of the parent container */
  position: relative;
}

/* Add this CSS to your stylesheets or use a CSS-in-JS solution */

.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  color: white;
  background: rgba(0, 0, 0, 0.5);
}

.divider {
  border-right: 1px solid #ccc; /* Customize the divider style */
  height: 150px; /* Adjust the height of the divider */
  margin: 0 10px; /* Adjust the margin around the divider */
}

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* Adjust margin as needed */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 30px; /* Adjust padding as needed */
  background-clip: padding-box;
}
